<menu class="main">
  <%= nav_link_to Danbooru.config.app_name, "/" %>
  <% if CurrentUser.is_anonymous? %>
    <%= nav_link_to("Sign in", new_session_path) %>
  <% else %>
    <%= nav_link_to("Account #{CurrentUser.dmail_count}", home_users_path) %>
  <% end %>
  <%= nav_link_to("Posts", posts_path) %>
  <%= nav_link_to("Comments", comments_path(:group_by => "post")) %>
  <%= nav_link_to("Artists", artists_path) %>
  <%= nav_link_to("Tags", tags_path) %>
  <%= nav_link_to("Blips", blips_path) %>
  <%= nav_link_to("Pools", gallery_pools_path) %>
  <%= nav_link_to("Sets", post_sets_path) %>
  <%= nav_link_to("Wiki", wiki_pages_path(:title => "help:home")) %>
  <%= nav_link_to("Forum", forum_topics_path, :class => (CurrentUser.has_forum_been_updated? ? "forum-updated" : nil)) %>
  <% if CurrentUser.is_moderator? %>
    <%= nav_link_to("Dashboard", moderator_dashboard_path) %>
  <% end %>
  <% if !CurrentUser.is_anonymous? && Danbooru.config.discord_site.present? %>
    <%= nav_link_to("Discord", discord_get_path) %>
  <% end %>
  <%= nav_link_to("Help", help_pages_path) %>
  <%= nav_link_to("More »", site_map_path) %>
</menu>
